.features h3 {
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 8px;
}

.features p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-container {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.features-item {
    flex-basis: calc((100% - 72px)/4);
}

.features {
    padding: 120px 0;
}