.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.33;
    margin-bottom: 16px;
}

.footer .accent {
    color: #4D5AE5;
}

.footer-icons .footer-link {
    display: flex;
    color: #4D5AE5;
    border-radius: 20px;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
    display: flex;
    gap: 16px;
    padding-top: 16px;
}

.footer-icons .footer-link:hover,
.footer-icons .footer-link:focus,
.footer-icons .footer-link:active {
    background-color: #31D0AA;
}


.footer-text {
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: flex-start;

}

.social-text {
    font-weight: 500;
}

.footer-social {
    margin-left: 120px;
}

.footer svg {
    fill: #f4f4fd;
}